doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/jquery-auto-complete/jquery.auto-complete.css')
    link(rel='stylesheet', href='/bootstrap-toggle/css/bootstrap-toggle.css')
    
    script(type='text/javascript', src='/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='/jquery-auto-complete/jquery.auto-complete.min.js')
    script(type='text/javascript', src='/bootstrap-toggle/js/bootstrap-toggle.min.js')
    
  body
    block content
  script(type='text/javascript', src='/javascripts/main.js')